.external-link-icon {
    --external-link-icon-color: var(--c-text-quote);
}

.external-link::after,
.external-link-icon::after {
    content: "";
    display: inline-block;
    padding: 1px;
    width: 11px;
    height: 11px;
    background: var(--external-link-icon-color);
    flex-shrink: 0;
    -webkit-mask-image: var(--external-link-icon);
    mask-image: var(--external-link-icon);
}