.vp-navbar span a {
    @apply flex items-center;
    margin-left: 0.1rem;
}

.vp-navbar span a span {
    @apply mt-3;
}

.vp-navbar-items-wrapper {
    @apply mt-1;
    max-width: none !important;
}

.vp-navbar-items {
    @apply space-x-12;
}

.vp-navbar-item {

    a,
    .vp-navbar-dropdown-title {
        @apply text-gray-900 dark:text-gray-400 text-xl font-bold transition-transform transform;
    }

    .vp-navbar-dropdown {
        @apply shadow-md p-0 !important;

        .vp-navbar-dropdown-item {
            @apply p-1.5;
        }
    }
}

.vp-navbar-dropdown-wrapper:not(.mobile) {
    .vp-navbar-dropdown {
        .vp-navbar-dropdown-item:hover {
            @apply bg-gray-200 dark:bg-gray-800;
        }
    }
}

.vp-navbar-item>a:hover,
.vp-navbar-item>a.route-link-active {
    @apply border-b-4 border-gray-900 pb-2 -translate-y-0.5 !important;
}

html.dark {
    .vp-navbar-item>a {
        color: #adbac7 !important;
    }

    .vp-navbar-item>a:hover,
    .vp-navbar-item>a.route-link-active {
        color: #adbac7 !important;
        border-color: #adbac7 !important;
    }
}