@import './variables.scss';
@import './back-to-top.scss';
@import './doc-search.scss';
@import './external-link.scss';
@import './footer.scss';
@import './navbar.scss';
@import './page-meta-nav.scss';
@import './preview.scss';
@import './site-name.scss';
@import './theme.scss';
@import './badge.scss';
@import './headlines.scss';
@import 'tailwindcss';

@source '../docs/**/*.{vue,js,ts,jsx,tsx,scss,md}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-attention-50: #fff1f2;
  --color-attention-100: #ffe4e6;
  --color-attention-200: #fecdd3;
  --color-attention-300: #fda4af;
  --color-attention-400: #fb7185;
  --color-attention-500: #f43f5e;
  --color-attention-600: #e11d48;
  --color-attention-700: #be123c;
  --color-attention-800: #9f1239;
  --color-attention-900: #881337;
  --color-attention-950: #4c0519;

  --color-primary-50: #f7fee7;
  --color-primary-100: #ecfccb;
  --color-primary-200: #d9f99d;
  --color-primary-300: #bef264;
  --color-primary-400: #a3e635;
  --color-primary-500: #84cc16;
  --color-primary-600: #65a30d;
  --color-primary-700: #4d7c0f;
  --color-primary-800: #3f6212;
  --color-primary-900: #365314;
  --color-primary-950: #1a2e05;

  --color-secondary-50: #fdf2f8;
  --color-secondary-100: #fce7f3;
  --color-secondary-200: #fbcfe8;
  --color-secondary-300: #f9a8d4;
  --color-secondary-400: #f472b6;
  --color-secondary-500: #ec4899;
  --color-secondary-600: #db2777;
  --color-secondary-700: #be185d;
  --color-secondary-800: #9d174d;
  --color-secondary-900: #831843;
  --color-secondary-950: #500724;

  --color-tertiary-50: #eef2ff;
  --color-tertiary-100: #e0e7ff;
  --color-tertiary-200: #c7d2fe;
  --color-tertiary-300: #a5b4fc;
  --color-tertiary-400: #818cf8;
  --color-tertiary-500: #6366f1;
  --color-tertiary-600: #4f46e5;
  --color-tertiary-700: #4338ca;
  --color-tertiary-800: #3730a3;
  --color-tertiary-900: #312e81;
  --color-tertiary-950: #1e1b4b;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

h2 {
    @apply mb-4!;
}

html aside.vp-sidebar {
    /* to ensure the footer cannot overlap the sidebar */
    z-index: 20;
}

.sidebar-items>li>.sidebar-item-children>li>a.router-link-active.router-link-exact-active.sidebar-item {
    @apply text-lg;
}

.sidebar-item.sidebar-heading {
    @apply text-xl! font-bold!;
}

img.vp-site-logo {
    margin-right: 0 !important;
    width: 1.8rem;
    margin-top: -0.6rem;
}

.feature h2 {
    @apply text-center
}

.home #main-title:after {
    content: '.io';
    @apply text-5xl! text-gray-500! font-light!;
}

a.header-anchor::before {
    color: #AFE81A;
}

html .vp-hero-action-button {
    @apply rounded-lg font-bold text-xl;
    @apply hover:shadow-md transform transition-transform hover:-translate-y-1
}

html .vp-hero-action-button:not(.primary):hover {
    color: var(--vp-c-accent);
}

.page-nav {
    @apply border-none!;

    .inner {
        border-top: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 1rem !important;
    }
}

.page-meta .meta-item {
    margin-top: 0 !important
}

@media screen and (max-width: 719px) {
    .toggle-sidebar-button {
        display: flex;
        box-sizing: border-box;
        top: var(--navbar-padding-v);
        height: var(--navbar-line-height);
        font-size: 0.9rem;
        align-items: center;
    }
}

.medium-zoom-overlay {
    --medium-zoom-bg-color: var(--c-bg);
}

#nprogress {
    --nprogress-color: var(--c-brand);
}

.pwa-popup {
    --pwa-popup-text-color: var(--c-text);
    --pwa-popup-bg-color: var(--c-bg);
    --pwa-popup-border-color: var(--c-brand);
    --pwa-popup-shadow: 0 4px 16px var(--c-brand);
    --pwa-popup-btn-text-color: var(--c-bg);
    --pwa-popup-btn-bg-color: var(--c-brand);
    --pwa-popup-btn-hover-bg-color: var(--c-brand-light);
}

.search-box {
    --search-bg-color: var(--c-bg);
    --search-accent-color: var(--c-brand);
    --search-text-color: var(--c-text);
    --search-border-color: var(--c-border);

    --search-item-text-color: var(--c-text-lighter);
    --search-item-focus-bg-color: var(--c-bg-light);
}

[vp-content] ul {
    list-style: disc;
}

[vp-content] h1:first-child + p {
    margin-top: 1rem !important;
}

[vp-content] p {
    margin-top: 1rem;
}