@import './variables.scss';
@import './back-to-top.scss';
@import './doc-search.scss';
@import './footer.scss';
@import './navbar.scss';
@import './preview.scss';
@import './site-name.scss';
@import './theme.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

.badge {
    @apply font-bold;
}

h2 {
    @apply mb-4 !important;
}

.sidebar-items>li>.sidebar-item-children>li>a.router-link-active.router-link-exact-active.sidebar-item {
    @apply text-lg;
}

.sidebar-item.sidebar-heading {
    @apply text-xl font-bold !important;
}

img.logo {
    margin-right: 0 !important;
    width: 1.8rem;
    margin-top: -0.6rem;
}

.feature h2 {
    @apply text-center
}

.home #main-title:after {
    content: '.io';
    @apply text-5xl text-gray-500 font-light !important;
}

a.header-anchor {
    color: #AFE81A;
}

.action-button {
    @apply rounded-lg font-bold text-xl !important;
}


.page-nav {
    @apply border-none !important;

    .inner {
        border-top: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 1rem !important;
    }
}

.page-meta .meta-item {
    margin-top: 0 !important
}

@media screen and (max-width: 719px) {
    .toggle-sidebar-button {
        display: flex;
        box-sizing: border-box;
        top: var(--navbar-padding-v);
        height: var(--navbar-line-height);
        font-size: 0.9rem;
        align-items: center;
    }
}

.external-link-icon {
    --external-link-icon-color: var(--c-text-quote);
}

.medium-zoom-overlay {
    --medium-zoom-bg-color: var(--c-bg);
}

#nprogress {
    --nprogress-color: var(--c-brand);
}

.pwa-popup {
    --pwa-popup-text-color: var(--c-text);
    --pwa-popup-bg-color: var(--c-bg);
    --pwa-popup-border-color: var(--c-brand);
    --pwa-popup-shadow: 0 4px 16px var(--c-brand);
    --pwa-popup-btn-text-color: var(--c-bg);
    --pwa-popup-btn-bg-color: var(--c-brand);
    --pwa-popup-btn-hover-bg-color: var(--c-brand-light);
}

.search-box {
    --search-bg-color: var(--c-bg);
    --search-accent-color: var(--c-brand);
    --search-text-color: var(--c-text);
    --search-border-color: var(--c-border);

    --search-item-text-color: var(--c-text-lighter);
    --search-item-focus-bg-color: var(--c-bg-light);
}